@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

header h1{
    text-align: center;
    font-family: abril fatface;
    font-size:3em;
}
.newspaper-container{
    width: 700px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px;
}
nav {
    position: sticky;
    background-color:white;
    margin:1em 0;
    padding: 5px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    top:0px;
}
li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 2px;
}

main h2, h5 {
    text-align: left;
    font-family: abril;
    position:static;
}  
.more-articles section {
    display: inline-block;
    width:44%;
    margin: 0;
}
.more-articles img {
    width: 100%;
}
.more-articles h4{
    font-family: roboto Slab;
    text-align: center;
}